---                                             permalink: _redirects
---

/ /country/fr/index.html 200 Language=fr
{%- for item in news %}
/ /country/{{ item.country }}/index.html 200 Country={{ item.country }}
{%- endfor %}
/ /country/us/index.html 404
